*{  
    padding: 0;
    margin: 0px 0px;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background-image: url(images/lights-prisms-effect-close-up.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#design .container1, .container2, .container3, .container4{
    background: rgba(61, 59, 59, 0.836);
    border-radius: 20px;
    padding-bottom: 60px;
    margin-left: 10px;
    margin-right: 5px;
    
}

#homepage .container{
    color: #FFFF;
}

.top h1{
    color: rgb(16, 240, 16);
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}
.top h2{
    text-align: center;
    padding-right: 300px;
    margin-bottom: 5px;
}
.top li{
     display: inline-block;
     padding: 12px 25px;  
     list-style: none;
}
.top ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #FFFF;
    position: relative;
    display: inline-block;
    transition: transform 1.5s;
}

.top ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(16, 240, 16);
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 1.5s;
}
.top ul li a:hover::after{
    width: 100%;
}
.top ul li a:hover{
    transform: scale(1.5);
}


.design-images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-left: 25px;
    margin-top: 50px;
}
.design-images div{
    margin-right: 20px;
    border: 4px solid rgb(16, 240, 16);
    overflow: hidden;
}
.design-images img{
    display: block;
    width: 325px;
    height: 280px;
    transition: 1s;
}

.design-images img:hover{
    transform: scale(1.9);
}

/* _______________defination of design theory_______________ */
.-vid { 
    padding: 0;
    margin: 0;
    width: 98.7vw;
    height: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    overflow: hidden;
    padding-bottom: 250px;
    margin-left: 1px;
    border: 1px solid rgb(238, 103, 103);
}
.-vid video{
    width: 100%;
    height: 350%;
    object-fit: fill;
}
.design-def{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-col-1 {
    border-radius: 10px;
    background: rgb(16, 240, 16);
    margin: 50px 45px ;
    width:400px;         /* This is the 'smaller' window size */
    height: 400px;
    overflow: hidden;
    border: 5px solid rgb(16, 240, 16);
    flex-basis: 30%;      /* Keeps your flex layout */
}

.img-col-1 img {
    object-fit: fill;
    transform-origin: center;
    display: block;
    width: 100%;          /* Image fills the 300px container */
    height: 100%;
    transition: transform 1.4s ease; /* Smooth zoom animation */
}

.img-col-1:hover img {
    transform: scale(1.5); /* Zooms image to 120% size */
}

.def-col-2{
    flex-basis: 60%;
}

.def-col-2 h2{
    color: rgb(16, 240, 16);
    font-size: 64px;
    font-weight: 700;
}
.def-col-2 p{
    font-weight: 500;
    font-size: 33px;
    color: white;
    padding-right: 20px;
    padding-left: 0px;
}
/* ____________why design throry____________ */
#why-design-theory{
    color: #FFFF;
    font-size: 35px;
    font-weight: 700;
    padding: 40px;
}
.why-important h1{
    padding: 30px 30px 30px;
    text-align: center;
    color: rgb(16, 240, 16);
}
.why-important h2{
    color: rgb(238, 103, 103);
    padding: 20px 10px 15px;
    font-size: 45px;
}
.why-important img{
    width: 100%;
    height: 45vh;
    padding: 40px 0px 20px;
}
/* _______________principles of desig thoery______________ */
#principles-of-design {
    color: #FFFF;
}
.principles{
    font-size: 32px;
    padding: 25px 25px;
    font-weight: 600;
}
.principles h1{
    text-align: center;
    color: rgb(16, 240, 16)
}
.examples{
    padding-top: 80px;
    display: flex;
}
.examples .col-1-eg{
    flex-basis: 50%;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    padding-left: 30px;
}
.col-2-image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-grow: 1;
}
.col-2-image img{
    display: block;
    width: 300px;
    height: auto;
    padding: 10px 10px;
    border-radius: 20px;
}
.col-1-eg h3{
    color: rgb(238, 103, 103);
    font-weight: 500;
}
.col-2-image img:hover{
    transform: scale(1.2);
}
/* ______________________alignment________________ */
.align {
    font-size: 32px;
    font-weight: 500;
    padding: 20px 60px;
}
.align h1{
    color: rgb(16, 240, 16);
    text-align: center;
    padding-bottom: 30px;
}
.align li{
    color: rgb(238, 103, 103);
}
.align-image{
    padding: 0px 0px;
    border: 3px solid;
    width: 60vw;
    overflow: hidden;
    margin: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}
.align-image img{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: fill;
    transition: 2s;
    transform-origin: center;
}
.align-image img:hover{
    transform: scale(1.2);
}























